* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
.form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #4caf50;
}
label {
  width: 500px;
  display: block;
  font-weight: bold;
}
.error {
  color: red;
  font-size: 0.9em;
  display: none;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="file"],
input[type="tel"],
input[type="url"],
select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.03em;
}
textarea {
  resize: none;
}
fieldset {
  height: 100px;
  padding-left: 10px;
}
fieldset label:nth-of-type(1) {
  margin: 5px 0 5px 0;
}
fieldset label:nth-of-type(2) {
  margin-bottom: 5px;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
button {
  padding: 10px 20px;
  font-size: 1.1em;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* REQUIRED */
/* input:required {
  border-left: 4px solid orange;
} */

/* VALID */
input:valid,
select:valid,
textarea:valid {
  border: 2px solid green;
}

/* INVALID */
/* input:invalid,
select:invalid,
textarea:invalid {
  border: 2px solid red;
} */

/* FOCUS */
input:focus,
textarea:focus,
select:focus {
  outline: none;
  background: #eef;
}

/* PLACEHOLDER */
input:placeholder-shown {
  background: #fff7e6;
}

/* READONLY */
input:read-only {
  background: #eee;
}

/* DISABLED */
input:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* CHECKBOX & RADIO */
input:checked {
  accent-color: green;
}

/* RANGE */
input[type="range"]:in-range {
  background: lightgreen;
}

/* FILE */
/* input[type="file"]::file-selector-button {
  background: black;
  color: white;
} */
footer {
  text-align: center;
  margin: 20px 0;
  font-size: 0.9em;
  color: #666;
}
footer address p {
  margin: 5px 0;
}
